<!doctype html>
<title>1200 Development</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page align="center">
    <h1>1200 Web Development</h1>
    <p><i>1200 is a coding factory from Amsterdam Westerpark.<br/>
        We mainly develop webshops and their Odoo backoffice,<br/>
    and we are playing around with Bitcoin and other cryptocurrencies and assets.</i></p>

    <img src="../static/drawing.png">

    {#  <div class=metanav>#}
    {#    <a href="">log in</a>#}
    {#    <a href="">log out</a>#}
    {#  </div>#}
    {#    <div class=flash>message</div>#}
    {% block body %}{% endblock %}
</div>

<div class="footer" align="center">
    <p>1200 BV, van Slingelandtplein 13a, 1051DD Amsterdam, The Netherlands
    Kamer van Koophandel Amsterdam 34293142, VAT NL818971733B01
    <a href='mailto:info@1200wd.com'>info@1200wd.com</a>, bitcoin <a href="https://blockchain.info/address/12ooWd8Xag7hsgP9PBPnmyGe36VeUrpMSH">12ooWd8Xag7hsgP9PBPnmyGe36VeUrpMSH</a></p>
</div>